.tab {
	background: whitesmoke;
	border: 1px dotted silver;
	padding: 6px;
	margin: 0;
}

.tab.active {
	background: lightblue;
}

.input-decorator {
	padding: 6px 8px 10px 8px;
	border-radius: 3px;
	border: 1px solid;
	border-color: rgba(0,0,0,0.1);
	margin: 0;
}

.input-decorator > input {
	/* reset */
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	font-size: 120%;
	box-shadow: none;
	/* FIXME: hack for styling reset on Android */
	/* -webkit-appearance: caret;*/
}

.packages-editor {
	background: lightgrey;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

#app_left {
	width: 350px;
	border: 1px solid orange;
}

#app_left_tabs {
	background: #eee;
	font-size: 120%;
}

#app_kinds {
	padding: 8px;
	font-size: 140%;
}

#app_index {
	padding: 8px;
	font-size: 120%;
}

#app_modules {
	padding: 8px;
	font-size: 140%;
}

#app_packages {
	padding: 8px;
	font-size: 140%;
}

#app_doc, .api-doc {
	padding: 8px 8px;
}

#app_doc_scope, .api-scope {
	padding: 8px;
	border-bottom: 1px dotted silver;
}

#app_doc_header, .api-header {
	padding: 8px;
}

#app_doc_tocFrame, .api.tocFrame {
	white-space: nowrap;
}

#app_doc_tocArea, .api.tocArea {
}

#app_bodyFrame {
}

#app_body, .api-body {
	padding: 8px;
}